# Qt 编译生成文件
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.pdb
*.ilk
*.qm
*.rcc

# Qt Creator 项目文件
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
cmake-build-*/
build/
debug/
release/
.DS_Store  # macOS 系统文件
Thumbs.db  # Windows 系统文件

# Git 无关文件
.idea/     # CLion/IDEA 配置
.vscode/   # VS Code 配置（如需分享配置可删除此行）
*.log